# Dependencies
/bin/
/obj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
build/
build-browser/
publish/

# Visual Studio
.vs/
*.suo
*.user
*.sln.opts

# Rider
.idea/

# Secrets
secrets.json
appsettings.local.json

# Logs
*.log
